table.addtable
{

 vertical-align: center;
background-color: rgb(111, 114, 113);
text-align: center;   
width: 80%;
}


table.addtable td
{
    text-align: left;
color: white;
     
}
table.addtable tr
{
    height: 30px;
     
}

table.addtable input {
    width: 45%;
}
table.addtable button {
    
    vertical-align: center;
    background-color: rgb(111, 114, 113);
    color: white;
}


