
<form name="myform"
 
  #f="ngForm"
 novalidate>

<table class="addtable">

    <tr height="50"></tr>
    <tr>
    <td  colspan="3">
            <label>Task Manager</label>
    </td>
    </tr>
    
    <!-- <tr>
      <td>
        <label>Task</label>   
      </td> -->
      <!-- <td>
      <input name="taskid"  class="form-control" #TaskIdName="ngModel" 
       type="text"  
       [ngClass]="{ 'is-invalid': f.submitted && TaskIdName.invalid }"
      required [(ngModel)]="taskDetails.TaskId"/>
      </td>
      <td color="red">
              <div  *ngIf="TaskIdName.errors?.required">
                    TaskId is required.
                  </div>  
                
      </td> 
    </tr>-->
    <tr>
        <td>
          <label>Task Name</label>   
        </td>
        <td>
        <input type="text" 
        class="form-control" #TaskNameV="ngModel" 
        
        [ngClass]="{ 'is-invalid': f.submitted && TaskNameV.invalid }"
       required [(ngModel)]="taskDetails.TaskName"
        
        name="TaskName"  required/>
        </td>
        <td color="red">
                <div  *ngIf="TaskNameV.errors?.required">
                      Task Name is required.
                    </div>  
                  
        </td>
      </tr>
    <tr>
        <td>
          <label>Priority</label>        
        </td>
        <td>
            <input type = "range" name="Priority"
            class="form-control" #PriorityV="ngModel" 
        
        [ngClass]="{ 'is-invalid': f.submitted && PriorityV.invalid }"
       required       
            
            [(ngModel)]="taskDetails.Priority"/> 
           
        </td>
        <td color="red">
                <div  *ngIf="PriorityV.errors?.required">
                      Priority is required.
                    </div>  
                  
        </td>
    </tr>
      <tr>
      <td> 
        <label>Parent Task</label>   
      </td>  
      <td>
          <!-- <input type = "text" name="ParentTask" [(ngModel)]="taskDetails.ParentTask"/> -->
          <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="taskDetails.ParentTask" name="Id" >  
            <option selected="" value=""></option>  
         <option [ngValue]="k.TaskId" *ngFor="let k of parenttask">  
             {{k.TaskName}}  
         </option>  
        </select>
      </td>
    </tr>
    
    <tr>
        <td>
            <label>Start Date</label>      
        </td>
        <td>
            <input type="date" name="StartDate"
            class="form-control" #StartDateV="ngModel" 
        
            [ngClass]="{ 'is-invalid': f.submitted && StartDateV.invalid }"
           required       
               
            
            [(ngModel)]="taskDetails.StartDate"/>
        </td>
        <td color="red">
                <div  *ngIf="StartDateV.errors?.required">
                      StartDate is required.
                    </div>  
                  
        </td>
    </tr>
    <tr>    
        <td>
            <label>End Date</label>       
        </td>
        <td>
            <input type = "date" name="EndDate"
            class="form-control" #EndDateV="ngModel" 
        
            [ngClass]="{ 'is-invalid': f.submitted && EndDateV.invalid }"
           required       
           
            
            [(ngModel)]="taskDetails.EndDate"/>
        </td>
        <td color="red">
                <div  *ngIf="EndDateV.errors?.required">
                        EndDate is required.
                    </div>  
                  
        </td>
    </tr>
    <tr>
      <td colspan="3">
            <div class="form-group">

                    <button (click)='addTask()' [disabled]="f.invalid" class="btn btn-primary">Add Task</button>
                    <button (click)='reset()'>Reset</button>
                </div>
        <!-- <button class="form-group" (click)='addTask()'>Add Task</button>  -->
        <!-- <button>Reset</button> -->
      </td>  
    </tr>
    </table>
</form>