<table class="updatetable" *ngIf='tasksinfo'>
    <tr height="50"></tr>
    <tr>
    <td  colspan="2">
            <label>Task Manager</label>
    </td>
    </tr>
    
    <tr>
      <td>
        <label>Task</label>   
      </td>
      <td>
      <input type = "text" id="Task" 
      [(ngModel)] ="tasksinfo.TaskName"
      />
      </td>
    </tr>
    <tr>
        <td>
          <label>Priority</label>        
        </td>
        <td>
            <input type = "range"  id = "Priority" 
            [(ngModel)] = "tasksinfo.Priority"/> 
           
        </td>
    </tr>
      <tr>
      <td> 
        <label>Parent Task</label>   
      </td>  
      <td>
          <!-- <input type = "text" id = "Parent Task" 
          [(ngModel)] = "tasksinfo.ParentTask"/> -->
          <select id="Id" #Id="ngModel" class="hideLabel form-control"
           [(ngModel)]="tasksinfo.ParentTask" name="Id" >  
            <option selected="" value=""></option>  
         <option [ngValue]="k.TaskId" *ngFor="let k of parenttask">  
             {{k.TaskName}}  
         </option>  
        </select>
      </td>
    </tr>
    
    <tr>
        <td>
            <label>Start Date</label>      
        </td>
        <td>
            
            <input type="date" id="StartDate" date-date-format="yyyy-MM-dd"
            [(ngModel)] = "tasksinfo.StartDate"  
            
            />
        </td>
    </tr>
    <tr>    
        <td>
            <label>End Date</label>       
        </td>
        <td>
            <input type = "date" id="EndDate" 
            [(ngModel)] = "tasksinfo.EndDate"/>
        </td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)='UpdatePage()' >Submit</button> 
        <button (click)='CancelPage()'>Cancel</button>
      </td>  
    </tr>
    </table>