table.updatetable
{

 vertical-align: center;
background-color: rgb(111, 114, 113);
text-align: center;   
width: 80%;
}


table.updatetable td
{
    text-align: left;
color: white;
     
}
table.updatetable tr
{
    height: 30px;
     
}

table.updatetable input {
    width: 45%;
}
table.updatetable button {
    
    vertical-align: center;
    background-color: rgb(111, 114, 113);
    color: white;
}


