table.viewtable
{

 vertical-align: center;
background-color:  rgb(186, 194, 199);
text-align: center;   
width: 80%;
}


table.viewtable td
{
    text-align: left;
color: black;
     
}
table.viewtable tr
{
    height: 30px;
     
}

table.viewtable input {
    width: 65%;
}
table.viewtable select {
    width: 65%;
}
table.viewtable button {
    
    vertical-align: center;
    background-color:   rgb(186, 194, 199);
    
}


