<table class ="viewtable" >
    <tr height="20"></tr>
    <tr>
      <td>
        <label>
          Task
        </label>
      </td>
      <td>
        <input type="text" id="Task" [(ngModel)] ="search.TaskId" >
      </td>
   
    <td>
      <label>
        Parent Task
      </label>
    </td>
    <td>
      <input type="text" id="ParentTask" [(ngModel)] ="search.parentTask">
    </td>
  </tr>
  <tr>
    <td>
      <label>
        Priority From
      </label>
    </td>
    <td>
      <input type="number" id="PriorityFrom" [(ngModel)] ="search.priorityFrom">
    </td>
    <td>
        <label>
          Priority To
        </label>
      </td>
      <td>
        <input type="number" id="PriorityTo" [(ngModel)] ="search.PriorityTo">
      </td>
  </tr>
  <tr>
    <td>
      <label>
        Start Date
      </label>
    </td>
    <td>
      <input type="date" id="StartDate" [(ngModel)] ="search.StartDate">
    </td>
    <td>
      <label>
        End Date
      </label>
    </td>
    <td>
      <input type="date" id="EndDate" [(ngModel)] ="search.EndDate">
    </td>
  </tr>
 
  
  </table>
  
  <table border="true" class ="viewtable">
    <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
        <th>
          <label>Edit Task</label>
        </th>
        <th>
            <label>End Task</label>
        </th>
        <th>
            <label>Delete Task</label>
        </th>
      </tr>
     
      <tr *ngFor="let char of characters | TaskIdfilter:search.TaskId:
      search.parentTask:search.priorityFrom:search.PriorityTo:search.StartDate:search.EndDate"
      >
        <td *ngFor="let col of columns">
          {{char[col]}}
        </td>
        <td><button (click)='redirectPage(char)' [disabled]="char.Flag ! == '1'">EDIT TASK</button></td>
        <td><button (click)='endTask(char)' [disabled]="char.Flag ! == '1'">END TASK</button></td>
        <td><button (click)='deleteTask(char)' [disabled]="char.Flag ! == '1'">DELETE TASK</button></td>
      </tr>
  </table>
  
  